# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# PyCharm / IntelliJ
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/