<!DOCTYPE html>
<html>
<head>
    <title>Shows</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<section>
    <h1>Show Planner</h1>

    <form method="GET" action="/shows" class="form-container">

        <select name="sort_by">
            <option value="days">Remaining Days</option>
            <option value="episodes">Number of Episodes</option>
            <option value="minutes">Minutes Per Episode</option>
            <option value="ep/day">Episodes Per Day</option>
        </select>

        <select name="order">
            <option value="asc">Lowest First</option>
            <option value="desc">Highest First</option>
        </select>

        <button type="submit">Sort</button>

    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Number of Episodes</th>
            <th>Minutes per Episode</th>
            <th>Episodes per Day</th>
            <th>Total Time Needed to Spend</th>
            <th>Days Left</th>
            <th>Days Completed</th>
            <th>Checkpoint</th>
        </tr>

        {% for show in shows %}
        <tr>
            <td>{{ show.name }}</td>
            <td>{{ show.remaining_episodes }}</td>
            <td>{{ show.minutes_per_episode }} mins</td>
            <td>{{ show.episodes_per_day }}</td>
            <td>{{ show.total_time_spent }} mins</td>
            <td>{{ show.days_remaining }}</td>
            <td>{{ show.days_completed }}</td>
            <td>
                <form class="button" action="{{ url_for('complete_show', show_id=show.id) }}">
                    <button class="{{ 'btn-success' if show.last_completed_date == today else 'btn-danger' }}">
                        Completed
                    </button>
                </form>
            </td>
            <td><a href="{{ url_for('delete_show', show_id=show.id) }}">Delete Show</a></td>
            <td>
                <a href="{{ url_for('edit_show',
                            show_id=show.id,
                            sort_by=sort_by,
                            order=order) }}"> Edit
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br><br>

    <form method="POST" action="/add_show" class="form-container">

        <input name="name" placeholder="Name" class="input1"
               value="{{ edit_show.name if edit_show else '' }}" required>

        <input name="episodes" placeholder="Number of Episodes" type="number" class="input1"
               value="{{ edit_show.number_of_episodes if edit_show else '' }}">

        <input name="minutes" placeholder="Duration (mins)" type="number" class="input1"
               value="{{ edit_show.minutes_per_episode if edit_show else '' }}">

        <input name="episodes_per_day" placeholder="Episodes per day" type="number" class="input1"
               value="{{ edit_show.episodes_per_day if edit_show else '' }}">

        <!-- hidden field -->
        <input type="hidden" name="edit_id" value="{{ edit_show.id if edit_show else '' }}">

        <button type="submit">
            {{ "Update Show" if edit_show else "Add Show" }}
        </button>

    </form>

    <div class="total-time">
        <h2>Total Daily Watch Time</h2>
        <p>{{ total_hours }}h {{ remaining_minutes }}m</p>
        <h2>Total Shows</h2>
        <p>{{ total_rows }}</p>
    </div>

    <br>
    <a href="/tasks">← Back to Tasks</a>

</section>
</html>